<header>
  <div class="notification" *ngIf="notification">
    <p>{{notification}}</p>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
    <!--    <img src="assets/favicon.ico" style="width: 50px">-->
    <a class="navbar-brand" routerLink="/">E-Auction</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/product/create">Add products</a>
        </li>
        <!--<li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/product/bids">View Bids</a>
        </li>-->
       
      </ul>
      <span class="navbar-text">
        Welcome, Karthikeyan Vinayagam
      </span>
      <div class="change-theme" style="margin-left: 20px">

        <!--<mat-slide-toggle color="primary" appChangeTheme #matSlideToggle='appChangeTheme'
                          [checked]="matSlideToggle.isToggleChecked"></mat-slide-toggle>-->
      </div>
    </div>
  </nav>
  <!--<h1>online auction</h1>-->

</header>
